<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="APP_NAME" value="springboottest"/>
    <contextName>${APP_NAME}</contextName>


    <!-- 控制台输出格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%magenta(%X{LIP:-#})][%yellow(%X{traceNo:-#})] &lt;%green(%t)&gt; %cyan(%logger{80}) :%msg%n"/>
    <!-- 写入文件格式 -->
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{LIP:-#}][%X{traceNo:-#}] &lt;%t&gt; %logger{80} :%msg%n"/>

    <property name="LOG_PATH" value="logs/"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <appender name="API-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}${APP_NAME}-api.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}${APP_NAME}-api_%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <MaxFileSize>150MB</MaxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC-API-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>40960</queueSize>
        <appender-ref ref="API-FILE"/>
    </appender>

    <appender name="BIZ-FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>serverId</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <!--具体的写日志appender，每一个taskId创建一个文件-->
            <appender name="${serverId}-SERVER-BIZ-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}${serverId}/${serverId}-biz.log</file>
                <append>true</append>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>
                        ${FILE_LOG_PATTERN}
                    </Pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
                    <fileNamePattern>${LOG_PATH}${serverId}/${serverId}-biz_%d{yyyy-MM-dd}-%i.log</fileNamePattern>
                    <maxHistory>90</maxHistory>
                    <MaxFileSize>150MB</MaxFileSize>
                    <totalSizeCap>20GB</totalSizeCap>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <appender name="ASYNC-BIZ-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>40960</queueSize>
        <appender-ref ref="BIZ-FILE"/>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}${APP_NAME}-error.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <append>true</append>
        <!--过滤器,只打ERROR级别的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}${APP_NAME}-error_%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <MaxFileSize>150MB</MaxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC-ERROR-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>40960</queueSize>
        <appender-ref ref="ERROR-FILE"/>
    </appender>

    <appender name="COST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}cost/${APP_NAME}-cost.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}cost/${APP_NAME}-cost_%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <MaxFileSize>150MB</MaxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC-COST-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>40960</queueSize>
        <appender-ref ref="COST-FILE"/>
    </appender>

    <appender name="LOG-STASH-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}logstash/${APP_NAME}-logstash.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}logstash/${APP_NAME}-logstash_%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <MaxFileSize>150MB</MaxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name ="ASYNC-LOG-STASH-FILE" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>40960</queueSize>
        <appender-ref ref = "LOG-STASH-FILE"/>
    </appender>

    <!-- 为logstash输出的Appender -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.176.128:9600</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="apiLog" level="info" additivity="false">
        <appender-ref ref="ASYNC-API-FILE"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC-LOG-STASH-FILE"/>
        <appender-ref ref="logstash"/>
    </logger>
    <logger name="costLog" level="info" additivity="false">
        <appender-ref ref="ASYNC-COST-FILE"/>
        <appender-ref ref="ASYNC-API-FILE"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC-LOG-STASH-FILE"/>
        <appender-ref ref="logstash"/>
    </logger>
    <logger name="com.example.springboottest" level="info" additivity="false">
        <appender-ref ref="ASYNC-BIZ-FILE"/>
        <appender-ref ref="ASYNC-ERROR-FILE"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC-LOG-STASH-FILE"/>
        <appender-ref ref="logstash"/>
    </logger>


    <springProfile name="local">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC-API-FILE"/>
            <appender-ref ref="ASYNC-BIZ-FILE"/>
            <appender-ref ref="ASYNC-ERROR-FILE"/>
            <appender-ref ref="ASYNC-COST-FILE"/>
            <appender-ref ref="ASYNC-LOG-STASH-FILE"/>
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>
    <springProfile name="master">
        <root level="INFO">
            <appender-ref ref="ASYNC-API-FILE"/>
            <appender-ref ref="ASYNC-BIZ-FILE"/>
            <appender-ref ref="ASYNC-ERROR-FILE"/>
            <appender-ref ref="ASYNC-COST-FILE"/>
            <appender-ref ref="ASYNC-LOG-STASH-FILE"/>
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>


</configuration>